/****************************
**********RESET CSS**********
****************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    color: #333;
    padding: 0!important;
    margin: 0!important;
    direction: "ltr";
    font-size: 14px;
        font-family: "Open Sans",sans-serif;
}
.regsistration-form-block {
	width: 320px;
    background-color: #fff;
    margin: 15px auto;
    border-radius: 10px;
    padding-bottom: 10px;
}
.header-block {
	padding-top: 35px;
}
.header-block img {
	max-width: 100px;
}
.regsistration-form-block h2 {
	color: red;
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
    line-height: 1.6;
    margin: 0;
    padding: 20px 0;
}
.regsistration-form-block  label {
	color: #3b5998;
	width: 20%;
	margin: 0;
	vertical-align: bottom;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: bold;
	text-align: left;
}
.radio-label {
	
}
.regsistration-form-block p {
	font-family: 'Ubuntu Condensed', sans-serif;
	
}
.regsistration-form-block .label {
	color: #3b5998;
	font-weight: bold;
}
.submit-btn {
	margin-top: 30px;
}
.submit-btn button {
    color: #fff;
    font-size: 18px;
    background-color: #ff5c56;
    border: 0;
    border-radius: 2px;
    transition: all .2s ease;
    cursor: pointer;
    width: 270px;
    height: 48px;
    margin: 0 auto 10px;
    display: block;
    padding: 15px;
}
.submit-btn button:hover {
    background-color: #C32619;	
}
.submit-btn button:focus {
	outline: none;
}

.regsistration-form-block input, .regsistration-form-block textarea {
	width: 270px;
    height: 48px;
    margin: 0 auto 10px;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    border: thin solid #ddd;
    color: #4f4f4f;
    font-size: 13px;
	font-family: 'Ubuntu Condensed', sans-serif;
}
.form-block {
	position: relative;
}
.regsistration-form-block i {
    position: absolute;
    right: 40px;
    top: 17px;
    color: #666;
    font-size: 16px;
}
.regsistration-form-block input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	color: #fff;
	cursor: pointer;
}
.regsistration-form-block input:hover,textarea:hover {
	border: thin solid #47759e;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
    

.regsistration-form-block input:focus,textarea:focus {
	border: thin solid #ddd;
    border-left: thin solid #eb4343;
    outline: 0;
}
.login-form-content {
	background-color: #fff;
    border-radius: 7px;
    width: 400px;
    margin: 40px auto 10px;
    padding: 10px 30px 30px;
    overflow: hidden;
    position: relative;
}
.logo-section {
    margin: 60px auto 0;
    padding: 15px;
    text-align: center;
}
.logo-section img {

}
.login-form .title {
    text-align: center;
    font-size: 28px;
    font-weight: 400!important;
    color: #32c5d2!important;
    margin-bottom: 25px;
}
.login-form-content .form-group {
    margin-bottom: 15px;
}
.form-group input {
	background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
}
.form-group input:focus {
    border: 1px solid #c3ccda;
}
.login-form .rememberme {
	margin-left: 8px;
}
.login-form .check {
    color: #8290a3;
}
.checkbox, .radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin: 0 0 15px 0;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.login-form .checkbox input[type="checkbox"],.login-form .radio input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
} {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.login-container .login-form .rememberme {
	margin-left: 0;
}
.login-container .forget-password {
	margin-top: 0;
}

.checkbox>span, .radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #E6E6E6;
}
.checkbox.checkbox-outline:hover>input:not([disabled]):checked~span, .checkbox.checkbox-outline:hover>input:not([disabled])~span, .checkbox.checkbox-outline>input:checked~span, .checkbox.checkbox-outline>input:focus~span, .checkbox.checkbox-outline>span, .checkbox.radio-outline:hover>input:not([disabled]):checked~span, .checkbox.radio-outline:hover>input:not([disabled])~span, .checkbox.radio-outline>input:checked~span, .checkbox.radio-outline>input:focus~span, .checkbox.radio-outline>span, .radio.checkbox-outline:hover>input:not([disabled]):checked~span, .radio.checkbox-outline:hover>input:not([disabled])~span, .radio.checkbox-outline>input:checked~span, .radio.checkbox-outline>input:focus~span, .radio.checkbox-outline>span, .radio.radio-outline:hover>input:not([disabled]):checked~span, .radio.radio-outline:hover>input:not([disabled])~span, .radio.radio-outline>input:checked~span, .radio.radio-outline>input:focus~span, .radio.radio-outline>span {
	border: 1px solid #d9d9d9;
    background: 0 0;
}
.input-icon>i, .checkbox-list .checkbox, .checkbox-list .radio, .checkbox>input:checked~span:after, .radio-list .checkbox, .radio-list .radio, .radio>input:checked~span:after {
	display: block;
}
input[type="radio"] {
	display: none;
}
.checkbox>span:after, .radio>span:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #888;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.checkbox>span:after, .radio>span:after {
    content: '';
    position: absolute;
    display: none;
}
.forget-password {
    font-size: 14px;
    float: right;
    display: inline-block;
    margin-top: 10px;
}
.forgot-password:hover {
	cursor: pointer;
	text-decoration: underline;
}
.login-options {
	margin: 30px 0;
    overflow: hidden;
}
.login-options h3 {
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa!important;
}
.login-options .social-icons {
    padding-top: 3px;
}
.social-icons li {
    display: inline;
    list-style: none;
    margin: 0 5px 5px 0;
}
.fL {
	float: left;
}
.fR {
	float: right;
}
.social-icons li>a {
    border-radius: 2px;
    width: 28px;
    height: 28px;
    display: block;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.login-form-content .create-account {
    margin: 0 -40px -30px;
    padding: 15px 0 17px;
    text-align: center;
    background-color: #6c7a8d;
    border-radius: 0 0 7px 7px;
}
.login-form-content .create-account>p {
    margin: 0;
}
.login-form-content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #c3cedd;
}
.login-form-content .create-account a {
    display: inline-block;
    margin-top: 5px;
}
.uppercase {
    text-transform: uppercase!important;
}















































.banner-bg {
    min-height: 100vh;
}
.text-right {
    text-align: right;
}
.us.login-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.login-logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em;
}
.login-logo {
    top: 80px;
    left: 80px;
}
.login-container {
    position: relative;
    min-height: 100vh;
}
 .login-container .login-footer,  .login-container>.login-content {
    padding: 0 80px;
}
.login-container .login-content {
    margin-top: 35%;
}
.login-container .login-content h1 {
    font-size: 30px;
    font-weight: 300;
    color: #4e5a64;
    margin: 20px 0 10px 0;
}
 .login-container>.login-content p {
    color: #a0a9b4;
    font-size: 15px;
    line-height: 22px;
 	 margin: 20px 0;
}
.login-container .login-content .login-form {
    margin-top: 80px;
    color: #a4aab2;
    font-size: 13px;
}
.login-form .form-control {
    width: 100%;
    padding: 10px 0;
    border: #a0a9b4;
    box-shadow: none;
    border-bottom: 1px solid;
    color: #868e97;
    font-size: 14px;
    margin-bottom: 30px;
    border-radius: 0!important;
}
.login-form .form-control:focus {
	outline: 0;
}
.login-form .forgot-password, .login-form .login-button {
    display: inline-block;
        
}
.btn.blue {
	color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
    border-radius: 0;
}
.btn.blue:hover {
	color: #FFF;
    background-color: #1c699f;
    border-color: #15527c;
}
.btn:hover {
    transition: all .3s;
}
.login-form .rem-password {
    margin-top: 10px;
}
.login-form .rem-password>p {
    margin: 0;
}
.login-form .rem-password>.rem-checkbox {
    border-color: #a4aab2;
}
.login-form .forgot-password {
    margin-right: 1em;
}
.login-form .forgot-password>a {
    color: #a4aab2;
}
.login-form .forgot-password>a:hover {
    color: #337ab7;
    text-decoration: none;
}
.login-form .forgot-password>a:focus {
    color: #a4aab2;
    text-decoration: none;
}
 .login-container>.login-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}
 .login-container>.login-footer .login-social {
    padding-right: 0;
}
 .login-container>.login-footer .login-social li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}
 .login-container>.login-footer .login-social a {
    color: #a9b5be;
    font-size: 18px;
}
 .login-container>.login-footer .login-social a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
 .login-container>.login-footer .login-social a:focus {
    color: #a9b5be;
}
 .login-container>.login-footer .login-copyright {
    padding-left: 0;
    margin-top: 6px;
}
 .login-container>.login-footer .login-copyright>p {
    margin: 0;
    font-size: 13px;
    color: #a9b5be;
}
 .alert {
    margin-top: -60px;
}
#cycler{
	position:relative;
}
#cycler img{
	position:absolute;
	z-index:1;
	width: 100%;
	height: 100vh;
}
#cycler img.active{
	z-index:3;
}
label.rememberme.checkbox.radio-outline {
    padding-right: 10px;
}
 .form-group.has-error {
   /* border-bottom: 2px solid #ed6b75!important;*/
}
 .form-group.valid {
    /*border-bottom: 1px solid #a0a9b4!important;
*/}

@media (min-width: 0px) and (max-width: 480px) {
	.login-container {
		height: 100%;
		min-height: 100%;
	}
	.btn.blue {
		float: right;
		margin: 10px 0;
	}
	.login-logo {
		top: 40px;
    	left: 40px;
		width: 200px;
		    margin: 0 0 20px;
		    position: relative;
	}
	#cycler img{
		height: 300px;
		padding: 0 15px;
	}
	.login-container>.login-footer {
		padding: 0;
		margin-bottom:40px;
		position: relative;
	}
}
@media (min-width: 481px) and (max-width: 1023px) {
	.login-container {
		height: 100%;
		min-height: 100%;
	}
	.btn.blue {
		float: right;
		margin-bottom: 10px;
	}
	.login-logo {
		top: 40px;
    	left: 40px;
		    margin: 0 0 20px;
		    position: relative;
		width: 250px;
	}
	#cycler img{
		height: 500px;
		padding: 0 15px;
	}
	.login-container>.login-footer {
		padding: 0;
		margin-bottom:40px;
		position: relative;
	}
}
@media (min-width: 1024px) and (max-width: 1365px) {
	.login-logo {
		top: 20px;
		width: 80%;
		left: 20px;
	}
				

}
@media (max-width:1365px) {
     .login-logo.login-6 {
    top: 40px;
    left: 40px;
}
 .login-container .login-copyright,  .login-container .login-social,  .login-container>.login-content {
    padding: 0 40px;
}
 .login-container .login-social {
    padding-right: 0;
}
 .login-container .login-copyright {
    padding-left: 0;
}
}@media (max-width:1023px) {
    ,  .login-bg,  .login-container {
    min-height: 50vh;
}
 .mt-login-5-bsfix {
    width: 100%}
 .login-logo.login-6 {
    position: relative;
    margin: 0 0 40px;
}
 .login-container>.login-content {
    margin-top: 60px;
}
 .login-container>.login-content .login-form {
    margin-top: 40px;
}
 .login-container .rem-password {
    margin-bottom: 1em;
}
 .login-container>.login-footer .login-social li {
    margin-right: .5em;
}
 .alert {
    margin-top: -20px;
}


}@media (max-width:640px) {
     .login-container>.login-content .text-right {
    text-align: left;
}
}